/* *,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);

}


body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.paddle {
    --position: 50;

    position: absolute;
    background-color: var(--foreground-color);
    transform: translateY(-50%);
    top: calc(var(--position) * 1vh);

    width: 1vh;
    height: 10vh;
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;

}

.ball {
    --x: 50;
    --y: 50;


    position: absolute;
    background-color: var(--foreground-color);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);


    width: 2.5vh;
    height: 2.5vh;
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
}

.score>* {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh,0;
    opacity: 0.5;

}

.score> :first-child {
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
} */

.game-container {
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: #242323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paddle {
    position: absolute;
    width: 8px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #000;
}

#paddle1 {
    left: 10px;
}

#paddle2 {
    right: 10px;
}

.ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.end-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-reset {
    margin-top: 100px;
}

.btn-prv {
    margin-top: 20px;
}


#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

#center-line {
    border-left: 6px dashed white;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
}

#score {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    font-size: 20px;
    color: #fff;
}

#player1-score, #player2-score {
    width: 30px;
    text-align: center;
    margin: 0 10px;
}

.countdown-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 54px;
    color: #cccaca;
    text-shadow: 2px 2px 2px #000;
    -webkit-text-stroke: #000;
}

#winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #cccaca;
    text-shadow: 2px 2px 2px #000;
    -webkit-text-stroke: #000;
}

#winner-tic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #cccaca;
    text-shadow: 2px 2px 2px #000;
    -webkit-text-stroke: #000;
}

#score-history {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 20px;
    background-color: #771818; /* Ajoutez une couleur de fond si nécessaire */
}

#score-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#ready-player-one,
#ready-player-two {
    position: absolute;
    top: 45%;
    font-family: 'Press Start 2P', cursive;
}

#ready-player-one {
    left: 25%;
    transform: translateX(-50%);
}

#ready-player-two {
    right: 25%;
    transform: translateX(50%);
}

#player1-name {
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: #fff;
    text-align: center;
    top: calc(100% + 10px);
    right: 65px;
}

#player2-name {
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: #fff;
    text-align: center;
    top: calc(100% + 10px);
    left: 65px;
}

.strike {
    text-decoration: line-through;
}

.tic-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board {
    background-color: #b9b4b4;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 350px;
    margin: auto;
    position: relative;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #ddd; /* Couleur de fond au survol */
}

.cell:active {
    background-color: #ccc; /* Couleur de fond au clic */
}