/* .nav {
position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: #eeeeee;
} 

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

a {
    color: #009579;
} */